<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- Remove emulator UI from device flavor -->
        <activity android:name=".MainActivity" tools:node="remove" />
        <activity android:name=".simulator.RippleWaveSimulatorActivity" tools:node="remove" />
    </application>

    <!-- Service and permissions remain from main manifest -->
</manifest>




